<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNUIlabelTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEBEE7831F5914D60078A032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBEE79C1F5914D60078A032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBEE7A71F5914D60078A032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
